<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EmoWatch</title>
</head>
<body>
<div class="wrapper">
    <h1 class="title">EmoWatch</h1>
    <h3 class="subtitle">
        Evaluate a News Article with Natural Language Processing
    </h3>
    <form id="main-from">
        <input type="text" class="url" name="url" placeholder="Enter article url here..."/>
        <button type="submit" class="btn">Submit</button>
    </form>
    <div id="result"></div>
</div>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>
