html, body{
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  color: antiquewhite;
}

body {
  display: grid;
  row-gap: 60px;
  justify-content: center;
  align-items: center;
  background: #333
}

