.title {
  text-align: center;
  align-items: center;
  color: crimson;
}
.subtitle {
  font-weight: 400;
  max-width: 40vw;
  margin: auto;
  color: antiquewhite;
  text-align: center;
  margin: 20px 0;
}
